/* sticky navbar for desktop view */
@media screen and (min-width: 1200px) {
    html body.fe_140-control .fe_default_nav {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 999;
        overflow: hidden;
        height: 54px;
        background: #333;
    }

    html body.fe_140-control .fe_default_nav.fe-nav-alt {
        height: 60px;
    }

    html body.fe_140-control .dice-header nav.navbar {
        height: 60px;
    }

    html body.fe_140-control .dice-base-container {
        margin-top: 54px;
    }

    /* swap nav */
    html body.fe_140-control dhi-seds-nav-header-employer.hydrated {
        transition: all 0.5s ease-in-out;
    }

    html body.fe_140-control .fe-nav-alt dhi-seds-nav-header-employer.hydrated {
        margin-top: -60px;
    }

    /* html body.fe_140-control .fe-nav-alt .fe-nav {
      margin-top: 0px;
    } */
    html body.fe_140-control .fe-nav {
        transition: all 0.5s ease-in-out;
        z-index: 9999;
        position: relative;
        background: #333;
    }

    html body.fe_140-control .dropdown[data-analytics-parent="Recruitment Services"] .dropdown-menu.show,
    html body.fe_140-control .dice-header:not(.fe-nav-alt) ul.menu-right div.dropdown-menu.show {
        position: fixed;
        top: 60px;
        right: auto;
        left: auto;
    }

    html body.fe_140-control .dice-header.fe-nav-alt ul.menu-right div.dropdown-menu.show {
        display: none;
    }

    html body.fe_140-control .dice-header .navbar-collapse {
        transition: all 0.5s ease-in-out;
    }

    html body.fe_140-control .fe-nav-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #fff;
        height: 70px;
        padding: 0px 1.5rem;
        max-width: 1400px;
        margin: auto;
    }

    html body.fe_140-control .fe-nav-content p {
        margin: 0;
        margin-right: 20px;
    }

    html body.fe_140-control .fe-nav-content a {
        border-radius: 50px;
    }
}

@media screen and (max-width: 1199px) {
    html body.fe_140-control .fe-nav {
        display: none;
    }

    html body.fe_140-control .fe_default_nav {
        position: fixed;
        width: 100%;
        z-index: 999;
        top: 0px;
        background: #333;
    }

    html body.fe_140-control .fe_default_nav.navOpen {
        position: inherit;
        margin-bottom: -54px;
    }

    html body.fe_140-control .dice-base-container {
        padding-top: 54px;
    }

    html body.fe_140-control .fe-nav-btn {
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        margin: auto;
        padding: 0.68rem 1rem !important;
    }

    .navbar>div.ml-auto {
        display: none !important;
    }
}

@media screen and (max-width: 991px) and (min-width:600px) {
    html body.fe_140-control .fe-nav-btn {
        margin-right: 5px;
    }
}

/* sticky navbar for mobile view */
@media screen and (max-width: 367px) {
    html body.fe_140-control .dice-header .dice-logo {
        padding-left: 0px !important;
        margin-left: 0px !important;
    }

    html body.fe_140-control .dice-header button.navbar-toggler {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.has-edit-button+.cta-highlight.text-center .row {
    width: 100%;
}