.cv-0-5-modal .cv-0-5__wrapper+div,
.cv-0-5-modal .cv-0-5__wrapper .cv-0-5__content+div,
.cv-0-5-modal .cv-1-13-modal-links,
.cv-0-5-modal .cv-1-13-dropdown-link,
.cv-0-5-modal .cv-1-13-dropdown-content,
.cv-0-5-modal .cv-1-13-benefit-text,
.cv-0-5-modal h2.centered:not(.cv-0-5__heading),
.cv-0-5-modal .btn-container,
.cv-0-5-modal .modal-content-body,
.cv-0-5-modal .modal-content-footer {
    display: none !important;
}

.modal-modal:has(.cv-0-5-modal){
    outline: none;
}

.modal-modal:has(.cv-0-5-modal) .close-button{
    outline: none;
}

.modal-modal:has(.cv-0-5-modal) .close-button:focus{
    outline: solid 2px #4d90fe;
}

.modal-modal:has(.cv-0-5-modal) .close-button:hover{
    color: rgba(51, 102, 153, 1);
}

.cv-0-5-modal .cv-0-5__wrapper {
    display: block !important;
    margin-bottom: 0 !important;
}

.cv-0-5-modal .cv-0-5__wrapper .cv-0-5__content {
    margin: 0 !important;
}

.cv-0-5-modal h2 {
    max-width: 100% !important;
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 150%;
}

.cv-0-5-modal .cv-0-5__text {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    font-family: "PT Serif";
}

.cv-0-5-modal input[type="checkbox"] {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
}

.cv-0-5-modal input[type="checkbox"]:checked {
    box-shadow: none !important;
    outline: none !important;
}

.cv-0-5-modal input[type="checkbox"].cv-0-5__error{
    outline: 1px solid #ff0000;
}

.cv-0-5__email-field {
    position: relative;
    margin-top: 24px !important;
    margin-bottom: 0 !important;
}

.cv-0-5-modal input[type="email"] {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-weight: 400;
    line-height: 23px;
    outline: none;
}

.cv-0-5-modal input[type="email"]:focus-visible,
.cv-0-5-modal input[type="email"]:focus {
    border: 1px solid rgba(16, 20, 126, 1);
}

.cv-0-5-modal .cv-0-5__error {
    border: 1px solid #ff0000 !important;
}

.cv-0-5__placeholder {
    position: absolute;
    left: 16px;
    top: 16px;
    pointer-events: none;
    color: #999999;
}

.cv-0-5__placeholder span {
    color: #ff0000;
}

.cv-0-5-modal label {
    display: flex;
    align-items: center;
    margin-top: 24px;
    text-align: left;
    position: relative;
    padding-left: 30px;
    display: none;
}

.cv-0-5__step-2 label {
    display: block;
}

.cv-0-5-modal label span {
    color: #333333;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.cv-0-5-modal label .cv-0-5__link-text{
    text-decoration: underline;
    color: rgba(16, 20, 126, 1);
}

.cv-0-5-modal button {
    width: 100%;
    margin-top: 24px;
    padding: 13px;
    line-height: 24px;
    background-color: #10147E;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Open Sans", Sans-Serif;
}

.cv-0-5-modal button:hover{
    outline: none;
}

.cv-0-5-modal label span span:not(.cv-0-5__link-text) {
    color: #ff0000;
    margin-right: 4px;
}

@media screen and (min-width: 767px) {
    .cv-0-5-modal button:hover {
        background-color: #006DB4;
    }
}

@media screen and (max-width: 375px) {
    .cv-0-5-modal .cv-0-5__text br {
        display: none;
    }
}