.cv-8-1__aboutUs {
    padding: 48px 32px 85px;
    background: #FBFBFB;
}

.cv-8-1__aboutUs .container {
    max-width: 860px;
}

.cv-8-1__aboutUs .cv-8-1__header {
    width: 100%;
    margin-bottom: 40px;
}

.cv-8-1__aboutUs h3 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    color: #333333;
    margin: 0;
    line-height: 31px;
}

.cv-8-1__aboutUs .cv-8-1__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

.cv-8-1__aboutUs .cv-8-1__stats-section {
    max-width: 394px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cv-8-1__aboutUs .stat-card {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 17px 10px 8px;
    text-align: center;
    position: relative;
    box-shadow: 0px 1px 4px 0px #0000002E;
}

.cv-8-1__aboutUs .stat-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #10147E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cv-8-1__aboutUs .stat-number {
    color: #333;
    margin-bottom: 10px;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.cv-8-1__aboutUs .stat-description {
    color: #333;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
}

.cv-8-1__aboutUs .cv-8-1__content-section {
    max-width: 405px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cv-8-1__aboutUs .cv-8-1__content-section.mobile {
    display: none;
}

.cv-8-1__aboutUs .description {
    font-weight: 400;
    font-size: 16px;
    vertical-align: middle;
    margin: 0;
    color: #333333;
    margin-bottom: 20px;
    line-height: 22px;
}

.cv-8-1__aboutUs .cta-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 16px;
    background: #10147E;
    color: #FFFFFF;
    border-radius: 4px;
    margin-top: 20px;
    line-height: 22px;
}

.cv-8-1__aboutUs .cta-button.mobile {
    display: none;
}

.cv-8-1__aboutUs .cta-button:hover {
    background: #006db4;
}

.cv-8-1__aboutUs .cta-button:focus{
    outline: solid 2px #4d90fe;
}

@media (max-width: 900px) {
    .cv-8-1__aboutUs {
        padding: 31px 24px 80px;
    }

    .cv-8-1__aboutUs .cv-8-1__header {
        margin-bottom: 24px;
    }

    .cv-8-1__aboutUs .cv-8-1__body {
        flex-direction: column;
        align-items: center;
    }

    .cv-8-1__aboutUs .description {
        font-weight: 400;
        font-size: 13px;
        text-align: center;
        line-height: 18px;
        margin-bottom: 18px;
    }

    .cv-8-1__aboutUs .description:last-of-type {
        margin-bottom: 0;
    }

    .cv-8-1__aboutUs .cv-8-1__content-section.desktop {
        display: none;
    }

    .cv-8-1__aboutUs .cv-8-1__content-section.mobile {
        display: flex;
    }

    .cv-8-1__aboutUs .cv-8-1__stats-section {
        gap: 24px;
    }

    .cv-8-1__aboutUs .stat-card {
        padding: 11px 10px 7px;
    }

    .cv-8-1__aboutUs .stat-number {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    .cv-8-1__aboutUs .stat-description {
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
    }

    .cv-8-1__aboutUs .cta-button.mobile {
        display: block;
        font-size: 15px;
        font-weight: 400;
        margin-top: 0;
        padding: 10px;
        line-height: 20px;
    }
}