.cv-12-0 #top-banner:has([data-testid="CloseIcon"]) {
    display: none;
}

.cv-12-0__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: #ffcc00;
    padding: 10px 24px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 99999;
}

.cv-12-0__banner.hidden {
    display: none;
}

.cv-12-0__banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

#cv-12-0__bannerText {
    font-weight: 700;
    font-size: 15px;
    line-height: 23.8px;
    margin-right: 24px;
}

#cv-12-0__bannerText br,
#cv-12-0__bannerText .mobile {
    display: none;
}

.cv-12-0__countdown {
    display: flex;
    gap: 15px;
    margin-right: 40px;
}

.cv-12-0__time-box {
    background: #fff;
    border-radius: 2px;
    font-size: 16px;
    text-align: center;
    width: 48px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    position: relative;
}

.cv-12-0__time-box:not(:last-of-type):after {
    content: ':';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    position: absolute;
    right: -11px;
}

.cv-12-0__time-box span {
    font-weight: 600;
    font-size: 8px;
    line-height: 100%;

}

.cv-12-0__cta {
    color: #1B1B1B;
    letter-spacing: 0.18px;
    font-weight: 500;
    background: #fff;
    padding: 5px 12px;
    border-radius: 200px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 12px;
    line-height: 20.4px;
}

.cv-12-0__cta:hover {
    background: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
}

.cv-12-0__close-btn {
    position: absolute;
    right: 46px;
    height: 24px;
    cursor: pointer;
}

@media (max-width: 930px) {
    #cv-12-0__bannerText {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
    }

    #cv-12-0__bannerText .desktop {
        display: none;
    }

    #cv-12-0__bannerText br,
    #cv-12-0__bannerText .mobile {
        display: inline-block;
    }

    #cv-12-0__bannerText .mobile {
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    .cv-12-0__cta {
        display: none;
    }
}

@media (max-width: 799px) {
    .cv-12-0__banner {
        padding: 16px 24px;
    }

    .cv-12-0__banner-content {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 12px;
        max-width: 312px;
    }

    #cv-12-0__bannerText {
        margin-right: 0;
    }

    .cv-12-0__time-box {
        font-size: 14px;
        width: 46px;
        height: 40px;
    }

    .cv-12-0__close-btn {
        right: 24px;
        top: 16px;
    }
}