html body .global-header .header--right button,
html body .global-header .header--right .header--link {
    transition: all 0.5s ease-in-out;
}

html body .global-header.fe-nav-alt .header--right button,
html body .global-header.fe-nav-alt .header--right .header--link {
    margin-top: -140px;
}

html body .FE-sticky-nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    right: 200px;
    top: 70px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

html body .global-header-container:has(.sticky) {
    height: 80px;
}

html body .fe-nav-alt+.FE-sticky-nav {
    opacity: 1;
    top: 34px;
}

/* tooltip css */
html body .sticky-menu-message {
    color: #381360;
    font-size: 16px;
}

html body .FE__desktop-copy>span {
    text-decoration: underline;
    text-decoration-color: #ffc0cb;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    font-weight: 400;
}

html body .FE__desktop-copy > br {
    display: none;
}

html body .FE__mobile-copy {
    display: none;
    text-align: left;
}

html body .fe-tooltip {
    position: absolute;
    top: -10px;
    right: -28px;
    cursor: pointer;
    z-index: 400;
}

html body .fe-tooltip svg {
    width: 20px;
    height: 20px;
}

html body .fe-tooltip circle {
    fill: #381360;
    stroke: #381360;
}

html body .fe-tooltip .fe-tooltip-img {
    z-index: 999;
    position: relative;
}

html body .fe-tooltip .fe-show-txt {
    background: #fff;
    border: 1px solid #70787c;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 4px 8px;
    position: absolute;
    top: 13px;
    left: 2px;
    width: 196px;
    z-index: 300;
    display: none;
    text-align: left;
}

html body .fe-tooltip .fe-show-txt p {
    font-size: 14px !important;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
}

html body .fe-tooltip .fe-show-txt a {
    color: #0071b3;
    text-decoration: underline;
    border: none;
}

html body .fe-tooltip.fe-tooltip-show .fe-show-txt {
    display: block;
}

/* Banner css */
html body #hero-1 {
    margin-top: 40px !important;
}

html body .FE__guarantee {
    width: 100%;
    margin-top: 15px;
    position: relative;
}

html body .FE__guarantee>div {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 13px 0;
    padding-left: 45px;
    position: absolute;
    top: 0;
}

html body .FE__guarantee>div span {
    color: #381360;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
}

html body .FE__guarantee .fe-tooltip {
    display: inline-block;
    position: relative;
    top: 0;
    left: 5px;
}

html body .fe-tooltip .fe-tooltip-img {
    z-index: 999;
    position: relative;
    height: 20px;
    width: 20px;
}

html body .FE__guarantee .fe-tooltip .fe-show-txt {
    margin: 0px 4px;
}

html body .fe-tooltip .fe-show-txt p {
    color: #04293a;
    font-size: 14px !important;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
}

@media screen and (min-width: 1440px) {
    html body .global-header-container:has(.sticky) {
        height: 70px;
    }

    html body .fe-nav-alt+.FE-sticky-nav {
        top: 26px;
    }

    html body .global-header #access {
        transition: all 0.5s ease-in-out;
    }

    html body .global-header.fe-nav-alt #access {
        margin-top: -140px;
    }
}

@media screen and (max-width: 1180px) {
    html body .sticky-menu-message {
        text-align: right;
    }

    html body .FE__desktop-copy > br {
        display: block;
    }

    html body .fe-nav-alt+.FE-sticky-nav {
        top: 20px;
    }
}

@media screen and (max-width: 991px) {
    html body .fe-nav-alt+.FE-sticky-nav {
        left: 0;
        right: auto;
    }

    html body .global-header .header--logo {
        transition: all 0.5s ease-in-out;
    }

    html body .global-header.fe-nav-alt .header--logo {
        margin-top: -140px;
    }

    html body .FE-sticky-nav .FE__desktop-copy {
        display: none;
    }

    html body .FE-sticky-nav .FE__mobile-copy {
        display: block;
    }

    html body .fe-tooltip {
        top: -8px;
        right: 0;
    }
}

@media screen and (max-width: 540px) {
    html body .FE__guarantee {
        margin-top: 30px;
        background: #FFB6B3;
        margin-left: -20px;
        width: calc(100% + 40px);
    }

    html body .FE__guarantee>svg {
        display: none;
    }

    html body .FE__guarantee>div {
        position: inherit;
        padding-left: 20px;
        padding-right: 20px;
    }

    html body .FE__guarantee>div span>br {
        display: none;
    }
}

@media screen and (max-width: 395px) {
    html body .FE-sticky-nav .fe-tooltip .fe-show-txt {
        left: -40px;
    }

    html body .FE__guarantee .fe-tooltip .fe-show-txt {
        left: -190px;
        top: 15px;
    }
}

@media screen and (max-width: 340px) {
    html body .FE__guarantee>div span {
        font-size: 13px;
    }
}