.cv-2-26 .publicationSerialHeader {
    position: relative;
    overflow: visible;
}

.cv-2-26 .publicationContentHeader {
    padding-top: 2px;
}

.cv-2-26 .serial-action {
    display: flex;
}

.cv-2-26 .serial-action .submitAnArticle {
    display: none;
}

.cv-2-26__submit-article {
    position: relative;
    margin-right: 8px;
    max-width: 212px;
}

.cv-2-26__submit-article .cv-2-26_btn {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 212px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: #6BD674;
    color: #333333;
    transform: rotate(0deg);
    transition: transform .2s linear;
    outline: 0;
}

.cv-2-26__submit-article .cv-2-26_btn:focus {
    outline: solid 2px #4d90fe;
}

.cv-2-26__submit-article .cv-2-26_btn:hover {
    background-color: #006db4;
    color: #fff;
}

.cv-2-26__submit-article.active .cv-2-26_btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cv-2-26__submit-article .cv-2-26_btn .fa-angle-down {
    font-size: 18px;
    font-weight: bold;
}

.cv-2-26__submit-article.active .cv-2-26_btn .fa-angle-down {
    transform: rotate(180deg);
    transition: transform .2s linear;
}

.cv-2-26__dropdown-content {
    position: absolute;
    top: 100%;
    color: #333;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    border-top: none;
    padding: 0px 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
}

.cv-2-26__submit-article.active .cv-2-26__dropdown-content {
    display: block;
}

.cv-2-26__dropdown-content ul {
    list-style: none;
    line-height: 0;
}

.cv-2-26__dropdown-content ul li {
    padding: 10px 0;
}

.cv-2-26__dropdown-content .sub-heading a {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.cv-2-26__dropdown-content ul li:not(.sub-heading) {
    border-top: 0.5px solid #E0E0E0;
}

.cv-2-26__dropdown-content li a {
    background: none !important;
    color: #10147E !important;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px !important;
    line-height: 20px;
    vertical-align: middle;
    padding: 0 !important;
}

.cv-2-26__dropdown-content li a:hover {
    color: #006db4 !important;
}

.cv-2-26__dropdown-content li p {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 13px;
    line-height: 19.04px;
    vertical-align: middle;
    margin-top: 6px;
    margin-bottom: 0px;
}

@media screen and (min-width: 1025px) {
    .cv-2-26 .literatumArticleToolsWidget+.cv-2-26__submit-article {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .cv-2-26 .literatumArticleToolsWidget .linkList {
        margin-bottom: 15px;
    }

    .cv-2-26__submit-article {
        max-width: 200px;
        margin-bottom: 15px;
    }

    .cv-2-26__submit-article .cv-2-26_btn {
        width: 200px;
    }

    .cv-2-26__dropdown-content {
        padding: 0 14px;
    }

    .cv-2-26__submit-article .cv-2-26_btn:focus {
        outline: solid 2px #4d90fe;
    }

    .cv-2-26__submit-article .cv-2-26_btn:hover {
        background: #6BD674;
        color: #333333;
    }
}