@media screen and (max-width: 1024px) {

    body.cv-2-24__mobile .cv-2-24__dynamicContent .grant-access,
    body.cv-2-24__mobile .cv-2-24__dynamicContent .share-button-container,
    body.cv-2-24__mobile .breadcrumbs-container,
    body.cv-2-21__mobile [data-stick-observer-id=publication-tabs-dropdown-tab-nav],
    body.cv-2-24__mobile .cv-2-24__speaker-section {
        display: none !important;
    }

    body.cv-2-24__mobile .tabs.tabs-widget>div:first-of-type {
        opacity: 0;
        pointer-events: none;
    }

    body.cv-2-24__mobile .cv-2-24__mobile-social {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav__relatedResearch .cv-2-24__share,
    body.cv-2-24__mobile a.cv-2-24__share-social {
        background: #016DB4 !important;
        position: relative;
        font-weight: 600 !important;
        cursor: pointer;
        margin-right: 0;
        padding: 7px 12px;
        border-radius: 4px;
        display: flex;
        max-width: max-content;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav__relatedResearch .cv-2-24__share {
        max-width: 100%;
        padding: 12px 20px;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav__relatedResearch .cv-2-24__share i {
        position: relative;
        top: -1px;
    }

    body.cv-2-24__mobile a.cv-2-24__share-social i {
        position: relative;
        top: -2px;
    }

    body.cv-2-24__mobile a.cv-2-24__share-social span {
        color: #fff;
        font-size: 12px;
        line-height: 21px;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav__relatedResearch .cv-2-24__share .share-icon::before,
    body.cv-2-24__mobile a.cv-2-24__share-social .share-icon::before {
        font-size: 12px;
        margin-right: 3px;
        vertical-align: middle;
        font-family: FontAwesome, serif;
        font-style: normal;
        color: #FFF;
    }

    body.cv-2-24__mobile .page-header .header-top+div {
        min-height: 0 !important;
    }

    body.cv-2-24__mobile {
        --font: "Open Sans", sans-serif;
    }

    body.cv-2-24__mobile .sectionsNavigation {
        display: none;
    }


    body.cv-2-24__mobile .cv-2-24__tabWrapper {
        background: #fff;
        width: 100vw;
        height: max-content;
        min-height: 60px;
    }

    body.cv-2-24__mobile .cv-2-24__tabWrapper::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 15px;
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.2) 100%);
        pointer-events: none;
        z-index: -1;
    }

    @media only screen and (min-width: 481px) {
        body.cv-2-24__mobile .cv-2-24__tabWrapper {
            margin-left: -7px;
            width: 100vw;
        }
    }

    body.cv-2-24__mobile .cv-2-24__tabWrapper.sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        margin-left: 0;
    }

    body.cv-2-24__mobile .cv-2-24__tabWrapper.sticky+div {
        padding-top: 60px;
    }

    body.cv-2-24__mobile .cv-2-24__tabWrapper.sticky .cv-2-24__tabContent__item--active {
        height: calc(100vh - 53px);
    }

    body.cv-2-24__mobile .cv-2-24__tabWrapper.sticky #cv-2-24__pdf.cv-2-24__tabContent__item--active {
        height: max-content;
        padding-bottom: 20px;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 9;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        z-index: 2;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu__item.hidden {
        display: none !important;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu__item__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        height: 53px;
        padding: 12px 20px;
        background: none;
        color: #10147e;
        font-family: var(--font);
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        position: relative;
        cursor: pointer;
        outline: none;
        border: none;
        width: 100%;
        transition: all 0.1s ease;
    }

    body.cv-2-24__mobile li.cv-2-24__tabMenu__item.cv-2-24__tabMenu__item--access {
        position: relative;
    }

    body.cv-2-24__mobile li.cv-2-24__tabMenu__item.cv-2-24__tabMenu__item--access::after,
    body.cv-2-24__mobile .cv-2-24__tabMenu__item__btn[data-id=sections]::after,
    body.cv-2-24__mobile .cv-2-24__tabMenu__item__btn[data-id=pdf]::after {
        content: "|";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #d3d3d3;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu__item__btn::after {
        right: -5px;
        mix-blend-mode: color;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu__item__btn::before {
        left: -4px;
    }

    body.cv-2-24__mobile li.cv-2-24__tabMenu__item.cv-2-24__tabMenu__item--access::after {
        right: -25px;
        mix-blend-mode: color;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu__item--active {
        background: #10147e;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu__item--active .cv-2-24__tabMenu__item__btn {
        color: #fff;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu__item--active .cv-2-24__tabMenu__item__btn[data-id=pdf]::before,
    body.cv-2-24__mobile .cv-2-24__tabMenu__item--active .cv-2-24__tabMenu__item__btn[data-id=pdf]::after {
        color: #10147e;
        display: none;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu__item--active .cv-2-24__tabMenu__item__btn[data-id=sections]::after {
        left: -2px;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu__item--access button {
        padding: 8px;
        border-radius: 4px;
        background: #6bd674;
        color: #10147e;
        font-family: var(--font);
        font-size: 13px;
        font-weight: 600;
        line-height: normal;
        outline: none;
    }

    body.cv-2-24__mobile .cv-2-24__tabMenu__item--share button {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 8px;
        border-radius: 4px;
        background: none;
        color: #10147e;
        font-family: var(--font);
        font-size: 13px;
        font-weight: 600;
        line-height: normal;
        outline: none;
        border: 1px solid currentColor;
    }

    body.cv-2-24__mobile .cv-2-24__tabWrapper.noAccess .cv-2-24__tabMenu {
        gap: 20px;
    }

    body.cv-2-24__mobile .cv-2-24__tabWrapper.noAccess .cv-2-24__tabMenu__item {
        flex: auto;
    }

    body.cv-2-24__mobile .cv-2-24__tabWrapper.noAccess .cv-2-24__tabMenu__item [data-id=more] {
        padding-left: 28px;
        padding-right: 28px;
    }

    body.cv-2-24__mobile .cv-2-24__tabContent__item {
        box-sizing: border-box;
        padding: 0;
        background: #fff;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1215686275);
    }

    body.cv-2-24__mobile .cv-2-24__tabContent__item--active {
        max-height: 100vh;
        padding: 20px 8px;
        padding-bottom: 50px;
        opacity: 1;
        visibility: visible;
        overflow: auto;
    }

    body.cv-2-24__mobile .cv-2-24__tabContent__item__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #333;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin: 0;
        font-family: var(--font);
        padding: 8px;
        padding-top: 0;
    }

    body.cv-2-24__mobile .cv-2-24__tabContent__item__heading button {
        background: none;
        border: none;
        color: #10147e;
        cursor: pointer;
        outline: none;
        padding: 0;
    }

    body.cv-2-24__mobile .cv-2-24__tabContent__item__heading button svg {
        width: 15px;
        height: 20px;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav li a,
    body.cv-2-24__mobile .cv-2-24__pdfList li a,
    body.cv-2-24__mobile .cv-2-24__sectionList li a {
        width: 100%;
        display: block;
        padding: 10px;
        color: #10147e;
        font-family: var(--font);
        font-size: 13px;
        font-weight: 600;
        line-height: 19.04px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.1);
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
        background: #fff;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav li a i,
    body.cv-2-24__mobile .cv-2-24__pdfList li a i,
    body.cv-2-24__mobile .cv-2-24__sectionList li a i {
        display: none;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav li a.active,
    body.cv-2-24__mobile .cv-2-24__pdfList li a.active,
    body.cv-2-24__mobile .cv-2-24__sectionList li a.active {
        border-radius: 4px;
        background: #e6f0f7;
        border-top: none;
        border-bottom: none;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav li a.cross_mark--link img,
    body.cv-2-24__mobile .cv-2-24__pdfList li a.cross_mark--link img,
    body.cv-2-24__mobile .cv-2-24__sectionList li a.cross_mark--link img {
        width: 157px;
        object-fit: contain;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav li.active a,
    body.cv-2-24__mobile .cv-2-24__pdfList li.active a,
    body.cv-2-24__mobile .cv-2-24__sectionList li.active a {
        border-radius: 4px;
        background: #e6f0f7;
        border-top: none;
        border-bottom: none;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav li:last-child a,
    body.cv-2-24__mobile .cv-2-24__pdfList li:last-child a,
    body.cv-2-24__mobile .cv-2-24__sectionList li:last-child a {
        border-bottom: none;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav .share-custom-tab,
    body.cv-2-24__mobile .cv-2-24__pdfList .share-custom-tab,
    body.cv-2-24__mobile .cv-2-24__sectionList .share-custom-tab {
        display: none !important;
    }

    body.cv-2-24__mobile .cv-2-24__pdfList a {
        border: none !important;
    }

    body.cv-2-24__mobile .cv-2-24__pdfList a .desktop-label,
    body.cv-2-24__mobile .cv-2-24__pdfList a i {
        display: none;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav .pdf-tab,
    body.cv-2-24__mobile .cv-2-24__tabNav .epub-tab {
        display: none;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav__relatedResearch {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 24px;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav__relatedResearch button {
        font-family: var(--font);
        font-size: 13px;
        font-weight: 600;
        line-height: normal;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border-radius: 4px;
        outline: none;
    }

    body.cv-2-24__mobile .cv-2-24__tabNav__relatedResearch .cv-2-24__relatedResearch {
        color: #fff;
        background: #10147e;
    }
}

@media screen and (min-width: 1025px){
    body.cv-2-24__mobile .tabs.tabs-widget>div:first-of-type{
        display: block !important;
    }

    body.cv-2-24__mobile .cv-2-24__tabWrapper{
        display: none;
    }
}