.cv-6-2__company-size-container {
    background: #92C4F3;
    border-radius: 24px;
    padding: 24px 20px;
    width: max-content;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-left: -17px;
    margin-top: 22px;
}

.css-qoc5nv .cv-6-2__company-size-container {
    background: #FFD951;
}

.css-ft4boo .cv-6-2__company-size-container {
    background: #B59CF7;
}

.cv-6-2__question-header {
    position: relative;
    display: flex;
    gap: 7px;
    align-items: center;
}

.cv-6-2__question-text {
    font-family: '__BagossStandardVF_32f2e9', '__BagossStandardVF_Fallback_32f2e9', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 114.99999999999999%;
    vertical-align: middle;
    margin: 0;
}

.cv-6-2__info-icon {
    width: 13.33px;
    height: 13.33px;
    background-color: #1B1B1B8C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    color: #fff;
    cursor: pointer;
}

.cv-6-2__info {
    position: absolute;
    text-align: center;
    width: 300px;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    padding: 8px;
    bottom: calc(100% + 12px);
    left: 50%;
    color: #FAF4EE;
    background: #1B1B1B;
    border-radius: 8px;
    display: none;
}

.cv-6-2__info::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L0 0L16 0L8 10Z' fill='%231B1B1B'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    position: absolute;
    bottom: -10px;
    left: calc(50% + -2px);
}

.cv-6-2__info-container:hover .cv-6-2__info {
    display: block;
}

.cv-6-2__options-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cv-6-2__option {
    position: relative;
}

.cv-6-2__option input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

.cv-6-2__option label {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 12px;
    white-space: nowrap;
    background: #FFFFFF75;
    border-radius: 100px;
    letter-spacing: -0.2px;
    color: #1B1B1B;
}

.cv-6-2__option:hover label{
    background-color: #1B1B1B;
    color: #FFFFFF;
}

.cv-6-2 #show-demo-form {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    opacity: 0;
    z-index: -1;
}

.cv-6-2.cv-6-2__shown #show-demo-form {
    opacity: 1;
    z-index: 1300;
    -webkit-transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cv-6-2.cv-6-2__shown #show-demo-form > div:nth-of-type(2){
    max-width: 620px;
    max-height: calc((100svh - 64px));
    overflow: auto;
}

.cv-6-2.cv-6-2__shown #show-demo-form.dom-modal h2+p {
    max-width: 482px;
}

.cv-6-2.cv-6-2__shown #show-demo-form.dom-modal h2 {
    text-wrap: inherit;
    max-width: 550px;
}

.cv-6-2.cv-6-2__shown #show-demo-form.dom-modal .submit-btn>div:first-of-type {
    display: none;
}

@media (max-width: 958px) {
    .cv-6-2__company-size-container {
        display: block;
        padding: 21px 13px 24px;
        margin: 24px auto;
        max-width: 312px;
        width: 100%;
    }

    .cv-6-2__question-text {
        font-size: 18px;
        letter-spacing: -0.3px;
    }

    .cv-6-2__options-container {
        flex-direction: column;
        margin-top: 13px;
    }

    .cv-6-2__option {
        width: 100%;
        height: 32px;
    }

    .cv-6-2__option label {
        width: 100%;
        position: absolute;
        padding: 7px 12px;
    }

    .cv-6-2__info {
        left: -6px;
    }

    .cv-6-2__info::after {
        bottom: -8px;
        left: auto;
        right: 8px;
    }
}

@media (max-width: 390px) {
    .cv-6-2.cv-6-2__shown #show-demo-form>div:nth-of-type(2) {
        padding: 24px 16px;
    }
}

@media (max-width: 359px) {
    .cv-6-2__question-header {
        width: max-content;
        margin: auto;
        align-items: flex-start;
    }

    .cv-6-2__question-text {
        max-width: 150px;
        margin: 0 auto 13px;
        text-align: center;
    }

    .cv-6-2__info-icon {
        position: absolute;
        right: -7px;
    }

    .cv-6-2__info {
        left: calc(-50% + 7px);
    }

    .cv-6-2__info::after {
        right: 62px;
    }
}

@media (max-width: 319px) {
    .cv-6-2__info {
        width: 240px;
        left: calc(-25%);
    }

    .cv-6-2__info::after {
        right: 35px;
    }
}