@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.cv-5-3__modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out;
}

.cv-5-3__got-questions-modal.cv-5-3__active {
    display: block;
}

.cv-5-3__got-questions-modal.cv-5-3__active.cv-5-3__mobile .cv-5-3__modal-overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in;
}

.cv-5-3__modal {
    position: fixed;
    bottom: 34px;
    left: -500px;
    background: #E82E80;
    padding: 16px;
    padding-top: 28px;
    z-index: 10000;
    border-radius: 8px;
    transition: left 0.5s ease-out;
}

.cv-5-3__got-questions-modal.cv-5-3__mobile .cv-5-3__modal {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    width: max-content;
}

.cv-5-3__got-questions-modal.cv-5-3__active .cv-5-3__modal {
    left: 54px;
    transition: left 0.5s ease-in;
}

.cv-5-3__got-questions-modal.cv-5-3__active.cv-5-3__mobile .cv-5-3__modal {
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: max-content;
    min-width: 313px;
}

.cv-5-3__no-scroll {
    overflow: hidden;
    height: 100%;
}

.cv-5-3__close-btn {
    background: none;
    padding: 0;
    border: none;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 10px;
    height: 10px;
}

.cv-5-3__close-btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.cv-5-3__modal h4 {
    font-family: 'co-text';
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 12px;
}

.cv-5-3__modal h4 span {
    font-family: 'alkaline';
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #F9B830;
}

.cv-5-3__modal p {
    font-family: Mulish;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 20px;
    max-width: 281px;
}

.cv-5-3__modal a {
    text-decoration: none;
}

.cv-5-3__modal .cv-5-3__pill {
    background: #F9B830;
    padding: 8px;
    border-radius: 30px;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 800;
    line-height: 17.57px;
    text-align: center;
    color: #2F2A85;
}

.cv-5-3__modal .cv-5-3__pill:hover {
    background: #2F2A85;
    color: #F9B830;
}