.cv-5-19 .cv-5-19__recommended-cta {
    background-color: #fff;
    padding: 8px 16px;
    color: #10147E;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    margin-left: 30px;
}

.cv-5-19 .cv-5-19__recommended-cta:focus{
    background-color: #fff;
    color: #10147E;
}

.cv-5-19 .cv-5-19__recommended-cta:hover {
    outline-style: auto;
    background-color: #10147E;
    color: #fff;
}

.cv-5-19 .cv-5-19__recommended-cta-wrap {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 480px) {
    .cv-5-19 .cv-5-19__recommended-cta {
        margin-left: 0;
        font-weight: 700;
    }
}