.cv-4-21 .cv-4-21__fake-search {
    display: flex;
    margin-top: 24px;
}

.cv-4-21 .cv-4-21__fake-search input {
    width: 520px;
    height: 37px;
    padding: 0 !important;
    margin-right: 4px;
    border-radius: 2px !important;
    padding-block: 0;
    padding-inline: 0;
    padding-left: 15px !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    outline: none !important;
    -webkit-appearance: none;
}

.cv-4-21 .cv-4-21__fake-search input::placeholder {
    font-size: 16px;
    line-height: 100%;
    vertical-align: middle;
    color: #757575;
}

.cv-4-21 .cv-4-21__fake-search input:focus {
    border-color: solid .1em #d2d2d2 !important;
}

.cv-4-21 .cv-4-21__fake-search .searchButtons {
    width: 41px !important;
    height: 39px !important;
    padding: 0;
    background: #006db4;
    border-radius: 2px !important;
    position: relative;
}

.cv-4-21 .cv-4-21__fake-search .searchButtons::after {
    font: normal normal normal 14px / 1 FontAwesome, serif;
    content: "\f002";
    position: absolute;
    right: 13px;
    bottom: 12px;
    color: #fff;
    pointer-events: none;
}

.cv-4-21 .cv-4-21__fake-search .searchButtons:hover,
.cv-4-21 .cv-4-21__fake-search .searchButtons:focus {
    outline: solid 2px #4d90fe;
}

@media screen and (min-width: 1025px) {
    .cv-4-21 .searchPageQSearchWrapper {
        padding: 0;
    }

    .cv-4-21 .searchPageQSearchWrapper .quickSearchWidget {
        display: none !important;
    }

    .cv-4-21 .allSubjectsHead {
        padding-top: 44px;
    }
}

@media screen and (max-width: 1024px) {

    .cv-4-21 .quickSearchWidget .quickSearchFormContainer .quickSearchForm,
    .cv-4-21 .allSubjectsHead .cv-4-21__fake-search {
        display: none;
    }

    .cv-4-21 .cv-4-21__fake-search {
        margin-top: 5px;
    }

    .cv-4-21 .cv-4-21__fake-search input {
        width: 70%;
        font-size: 100% !important;
    }

    .cv-4-21 .cv-4-21__fake-search .quick-search-btn::after {
        display: none;
    }

    .cv-4-21 .cv-4-21__fake-search input::placeholder {
        font-size: 14px;
    }
}